<!-- eslint-disable vue/multi-word-component-names -->
<script setup>
import { onMounted } from "vue";
import UserLayout from "../../../../common/layouts/UserLayout.vue";
import { useBank } from "../../stores/Banking.js";
import { ref } from "vue";
import { storeToRefs } from "pinia";
import { useForm } from "vee-validate";
import { vuetifyConfig } from "../../../../plugins/Vuetify";

const form = useForm({
  initialValues: {
    money: "",
  },
  validationSchema: {
    money: "required",
  },
});
const { defineField } = form;
const [money, moneyProps] = defineField("money", vuetifyConfig);

const bankActive = ref(0);
const prices = ref([
  { label: "50K", value: 50000 },
  { label: "100K", value: 100000 },
  { label: "500K", value: 500000 },
  { label: "1M", value: 1000000 },
  { label: "5M", value: 5000000 },
  { label: "10M", value: 10000000 },
  { label: "50M", value: 50000000 },
  { label: "100M", value: 100000000 },
  { label: "300M", value: 300000000 },
  { label: "500M", value: 500000000 },
]);
const useBankStore = useBank();
const { banks } = storeToRefs(useBankStore);

onMounted(async () => {
  await useBankStore.getBanks();
});
</script>

<template>
  <UserLayout>
    <div class="row">
      <v-card class="col-8 p-3 mr-2">
        <h6>Nạp tiền</h6>
        <div class="d-flex flex-wrap">
          <div
            v-for="bank in banks"
            :key="bank.id"
            class="banking__container"
            @click="bankActive = bank.id"
          >
            <div
              class="banking__img__container"
              :class="bankActive === bank.id ? 'active' : ''"
            >
              <div class="banking__img__div">
                <img
                  src="https://hay88.net/server/static/img/bank/ab_bank.png?v=202401012"
                  alt="Vietcombank"
                />
              </div>
              <p class="banking__name">{{ bank.bankName }}</p>
            </div>
          </div>
        </div>
        <div class="my-2">
          <p class="text">Chọn lời nhắc thanh toán：</p>
          <p class="text">
            1. Nạp tiền tối thiểu là 50,000 VND,<br />
            Tối đa là 300,000,000 VND.
          </p>
          <p class="text">
            2.Vui lòng làm theo nội dung thanh toán để thanh toán,<br />cần có
            nội dung tin! Để không ảnh hưởng đến thời gian khi nạp .vào tài
            khoản!
          </p>
          <p class="text">
            3.Nạp tiền quá 3 phút vẫn chưa đến tài khoản,<br />xin liên hệ với
            chăm sóc khách hàng để xử lý
          </p>
          <p class="text my-4">Số tiền:</p>
          <v-text-field
            class="input"
            placeholder="50.000-300.000.000"
            dense
            v-bind="moneyProps"
            v-model="money"
            name="money"
          ></v-text-field>
          <p class="text">Chọn nhanh tiền nạp:</p>
          <div class="">
            <button
              v-for="price in prices"
              :key="price.value"
              class="button__price"
              @click="() => (money = price.value)"
            >
              {{ price.label }}
            </button>
          </div>
        </div>
        <div class="mt-2">
          <button class="button__submit">Nạp ngay</button>
        </div>
      </v-card>
      <v-card class="col-3 p-3">
        <div class="history">
          <p>Lịch sử nạp tiền</p>
          <p>Khác></p>
        </div>
      </v-card>

      <!-- </div>
        </div>
      </div> -->
    </div>
  </UserLayout>
</template>

<style scoped>
.history {
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-weight: 400;
  color: #8491a5;
  background-color: #1e222c;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.history p {
  color: #8491a5;
  margin-bottom: 0;
}
.button__submit {
  color: #fff !important;
  background: linear-gradient(135deg, #7146ff, #4a69ff) !important;
  border: none !important;
  font-size: 14px;
  width: 240px;
  height: 40px;
  border-radius: 4px;
  margin-top: 16px;
}
.button__price {
  margin: 10px 8px 0 0;
  padding: 0;
  width: 62px;
  height: 28px;
  line-height: 28px;
  background: transparent;
  color: #8491a5;
  border-radius: 6px;
  border: 1px solid #8491a5;
  font-size: 12px;
}
.input {
  width: 343px;
}
.text {
  font-size: 14px;
  color: rgb(132, 145, 165);
}
.banking__container:hover {
  cursor: pointer;
}
.left-nav {
  height: 100%;
  background-color: #f5f5f5;
}
.banking__img__container.active {
  position: relative;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(74, 105, 255);
  border-image: initial;
}
.banking__img__container.active::after {
  position: absolute;
  right: -1px;
  bottom: 0px;
  content: "";
  width: 32px;
  height: 24px;
  z-index: 2;
  background: url("../../../../assets/images/banking-active.png") 0% 0% / 100%
    no-repeat;
}
.banking__img__container {
  margin: 0px 16px 16px 0px;
  width: 112px;
  box-shadow: rgba(27, 35, 61, 0.15) 0px 0px 3px 0px;
  background: rgb(54, 61, 78);
  border-radius: 8px;
}
.banking__img__div {
  padding: 4px 4px 0px;
  border-radius: 8px;
}
.banking__img__div img {
  width: 96px;
  height: 28px;
}
.banking__name {
  text-align: center;
  height: 28px;
  line-height: 28px;
  width: 100%;
  padding: 0px 2px;
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0px;
}
:deep(.v-field) {
  font-size: 12px !important;
  padding-block: 4px;
}
:deep(.v-field__input) {
  font-size: 12px !important;
  padding-block: 4px;
  height: 36px;
}
:deep(.v-label) {
  font-size: 12px !important;
}
.v-text-field .v-input__control .v-input__slot {
  min-height: auto !important;
  display: flex !important;
  align-items: center !important;
}
</style>
