<!-- eslint-disable vue/multi-word-component-names -->
<script setup>
import UserLayout from "../../../../common/layouts/UserLayout.vue";
import { listPurse } from "../../../../common/constants/Purse";
</script>
<template>
  <UserLayout>
    <div
      style="
        padding: 24px;
        background-color: #292e3b;
        color: #fff;
        border-radius: 8px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <p style="font-size: 20px">Ví tiền của tôi</p>
        <div
          style="
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: center;
          "
        >
          <p style="color: #8491a5; margin-bottom: 0px !important">
            Tổng tài sản: <span style="color: #f7b500"> 0 </span>
          </p>
          <v-icon
            style="color: rgb(74, 105, 255); cursor: pointer"
            icon="mdi-refresh"
          ></v-icon>
        </div>
      </div>
      <div style="border: 2px solid #363d4e; border-radius: 8px">
        <p style="padding: 5px 10px; font-size: 20px">| số dư của tôi</p>
        <div
          style="
            padding: 20px 20px 24px;
            margin-top: 30px;
            background-color: #262933;
          "
        >
          <div
            style="
              border-radius: 8px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 20px;
            "
          >
            <div
              style="
                background-color: #363d4e;
                padding: 10px;
                padding-top: 25px;
                border-radius: 8px;
                flex: 2;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
              "
            >
              <div
                style="
                  flex: 1;
                  display: flex;
                  align-items: flex-start;
                  justify-content: space-between;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;
                  "
                >
                  <div><v-icon icon="mdi-wallet" /> Số dư</div>
                  <p style="margin-bottom: 0px !important">
                    <span style="color: #f7b500"> 0 </span>
                    <v-icon
                      style="color: rgb(74, 105, 255); cursor: pointer"
                      icon="mdi-refresh"
                    ></v-icon>
                  </p>
                </div>
                <button
                  style="
                    background: linear-gradient(
                      105deg,
                      rgb(255, 225, 107),
                      rgb(255, 175, 19)
                    );
                    font-size: 13px;
                    padding: 0px 5px;
                    height: 25px;
                    border-radius: 13px;
                    color: #000;
                  "
                >
                  Ấn để chuyển về
                </button>
              </div>
              <div
                class="payment_wait"
                style="
                  flex: 1;
                  display: flex;
                  align-items: flex-start;
                  justify-content: space-between;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;
                  "
                >
                  <div><v-icon icon="mdi-wallet" /> Số dư chờ xử lí</div>
                  <p style="margin-bottom: 0px !important">
                    <span style="color: #f7b500"> 0 </span>
                    <v-icon
                      style="color: rgb(74, 105, 255); cursor: pointer"
                      icon="mdi-refresh"
                    ></v-icon>
                  </p>
                </div>
                <v-icon icon="mdi-information-variant-circle"></v-icon>
              </div>
            </div>
            <div
              style="
                background-color: #363d4e;
                padding: 10px;
                border-radius: 8px;
                flex: 1;
                display: flex;
                justify-content: space-around;
                align-items: center;
              "
            >
              <div
                style="
                  width: 88px;
                  height: 88px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  box-shadow: rgba(255, 255, 255, 0.11) 0px 3px 3px 0px inset,
                    rgba(0, 0, 0, 0.29) 0px -3px 3px 0px inset,
                    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
                  border-radius: 16px;
                "
              >
                <div
                  style="
                    width: 43.6px;
                    height: 43.6px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #8d83ff;
                    border: 1px solid #fff;
                  "
                >
                  <v-icon icon="mdi-note-text" />
                </div>
                <p style="font-size: 12px; margin-bottom: 0px !important">
                  Thắng thua
                </p>
              </div>
              <div
                style="
                  width: 88px;
                  height: 88px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  box-shadow: rgba(255, 255, 255, 0.11) 0px 3px 3px 0px inset,
                    rgba(0, 0, 0, 0.29) 0px -3px 3px 0px inset,
                    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
                  border-radius: 16px;
                "
              >
                <div
                  style="
                    width: 43.6px;
                    height: 43.6px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #8d83ff;
                    border: 1px solid #fff;
                  "
                >
                  <v-icon icon="mdi-notebook-check" />
                </div>
                <p style="font-size: 12px; margin-bottom: 0px !important">
                  Quỹ tiền
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="border: 2px solid #363d4e; border-radius: 8px">
        <p style="padding: 5px 10px; font-size: 20px">
          | Số dư thuộc bên thứ 3
        </p>
        <div
          style="
            padding: 20px 20px 24px;
            margin-top: 30px;
            background-color: #262933;
          "
        >
          <div
            style="
              border-radius: 8px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 20px;
            "
          >
            <div v-for="item in listPurse" :key="item">
              {{ item.name }}
              <img :src="item.img" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </UserLayout>
</template>

<style scoped>
.payment_wait {
  padding-left: 10px;
  position: relative;
}
.payment_wait::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  background-color: #313847;
}
</style>
