<!-- eslint-disable vue/multi-word-component-names -->
<script setup>
import UserLayout from "../../../../common/layouts/UserLayout.vue";
</script>
<template>
  <UserLayout>
    <div class="row">
      <v-card class="col-8 p-4 mr-2 bg-main">
        <div class="d-flex justify-content-between mb-5">
          <h5>Ví tiền của tôi</h5>
          <div>
            <p class="text flex-center">
              Tổng tài sản:
              <span class="text__primary"> 0</span>
              <span class="flex-center">
                <v-icon icon="mdi-reload" class="icon__reload"></v-icon>
              </span>
            </p>
          </div>
        </div>
        <v-card variant="outlined">
          <div class="px-4 pt-2 pb-5">
            <h6 class="divider-left-header">Số dư của tôi</h6>
          </div>
          <div class="p-4 wallet-container">
            <v-card variant="tonal" class="px-2 py-3 bg-tonal">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="d-flex col-6">
                      <div class="flex-center">
                        <v-icon icon="mdi-wallet" class="icon-wallet"></v-icon>
                      </div>
                      <p class="wallet__text">Số dư</p>
                    </div>
                    <div class="d-flex col-6">
                      <div>
                        <v-dialog width="360">
                          <template v-slot:activator="{ props }">
                            <button class="wallet__btn" v-bind="props">
                              <span>Ấn để chuyển về</span>
                            </button>
                          </template>

                          <template v-slot:default="{ isActive }">
                            <v-card style="background-color: #fff">
                              <div
                                class="info__header"
                                style="border-bottom: 1px solid #d4d4d4"
                              >
                                <div class="row p-3">
                                  <div class="col-12 text-center">
                                    <h6 style="color: #000">Ví tiền của tôi</h6>
                                  </div>

                                  <span
                                    style="color: #000"
                                    class="mdi mdi-close info__header__close"
                                    @click="isActive.value = false"
                                  ></span>
                                </div>
                              </div>
                              <div class="info__body p-3 text-center">
                                <v-icon
                                  icon="mdi-check-circle-outline"
                                  class="icon-check"
                                  style="font-size: 40px; color: #21e06b"
                                >
                                </v-icon>
                                <p>Hoàn tất</p>
                              </div>
                              <div class="info__footer mx-5 pb-5">
                                <button class="info__btn">Gửi</button>
                              </div>
                            </v-card>
                          </template>
                        </v-dialog>
                      </div>
                    </div>
                  </div>
                  <p class="text d-flex">
                    0
                    <span class="flex-center">
                      <v-icon icon="mdi-reload" class="icon__reload"></v-icon>
                    </span>
                  </p>
                </div>
                <div class="col-6 divider__left">
                  <div class="row">
                    <div class="d-flex col-6">
                      <div class="flex-center">
                        <v-icon icon="mdi-wallet" class="icon-wallet"></v-icon>
                      </div>
                      <p class="wallet__text">Số dư chờ xử lí</p>
                    </div>
                    <div class="d-flex col-6">
                      <div>
                        <v-dialog width="360">
                          <template v-slot:activator="{ props }">
                            <button v-bind="props">
                              <v-icon
                                icon="mdi-information"
                                class="icon-wallet"
                              ></v-icon>
                            </button>
                          </template>

                          <template v-slot:default="{ isActive }">
                            <v-card>
                              <div
                                class="info__header"
                                style="border-bottom: 1"
                              >
                                <div class="row p-3">
                                  <div class="col-12 text-center">
                                    <h6 class="">Số dư chưa xử lí là gì</h6>
                                  </div>

                                  <span
                                    class="mdi mdi-close info__header__close"
                                    @click="isActive.value = false"
                                  ></span>
                                </div>
                              </div>
                              <div class="info__body p-3">
                                <p class="text text-white">
                                  Số dư chưa xử lí bao gồm những trường hợp dưới
                                  đây:
                                </p>
                                <p class="text text-white">
                                  1. Tài khoản có đơn cược chưa thanh toán
                                </p>
                                <p class="text text-white">
                                  2. Tài khoản có đơn rút tiền đang xử lí
                                </p>
                                <p class="text text-white">
                                  3. Tài khoản đang tiến hành chuyển quỹ
                                </p>
                              </div>
                              <div class="info__footer mx-5 pb-5">
                                <button class="info__btn">Gửi</button>
                              </div>
                            </v-card>
                          </template>
                        </v-dialog>
                      </div>
                    </div>
                  </div>
                  <p class="text d-flex">
                    0
                    <span class="flex-center">
                      <v-icon icon="mdi-reload" class="icon__reload"></v-icon>
                    </span>
                  </p>
                </div>
              </div>
            </v-card>
          </div>
        </v-card>

        <v-card variant="outlined" class="mt-5">
          <div class="px-4 pt-2 pb-5">
            <p class="divider-left-header">
              <span style="font-size: 14px"> Số tài khoản </span>
              <span class="ml-5" style="font-size: 12px">
                Số lương tài khoản：0/5
              </span>
            </p>
          </div>
          <div class="p-4 wallet-container">
            <v-card variant="tonal" class="bg-tonal">
              <div class="row p-3 mr-5" style="margin-left: 3px">
                <v-dialog width="360">
                  <template v-slot:activator="{ props }">
                    <div
                      class="col-4 flex-center"
                      style="
                        height: 140px;
                        background-color: #1e222c;
                        border-radius: 8px;
                      "
                      v-bind="props"
                    >
                      <span class="flex-center">
                        <v-icon
                          icon="mdi-plus-circle"
                          class="icon__reload mr-1"
                          style="font-size: 12px"
                        ></v-icon>
                      </span>
                      <span style="font-size: 12px">Thêm vào</span>
                    </div>
                  </template>

                  <template v-slot:default="{ isActive }">
                    <v-card style="background-color: #fff">
                      <div
                        class="info__header"
                        style="border-bottom: 1px solid #d4d4d4"
                      >
                        <div class="row p-3">
                          <div class="col-12 text-center">
                            <h6 style="color: #000">Cài đặt</h6>
                          </div>

                          <span
                            style="color: #000"
                            class="mdi mdi-close info__header__close"
                            @click="isActive.value = false"
                          ></span>
                        </div>
                      </div>
                      <div class="info__body p-3">
                        <div>
                          <label for="" style="color: #333; font-size: 14px"
                            >mật khẩu giao dịch</label
                          >
                          <v-text-field
                            class="input"
                            placeholder="Nhập mật khẩu giao dịch"
                            dense
                            v-bind="moneyProps"
                            v-model="money"
                            name="money"
                          ></v-text-field>
                        </div>
                        <div>
                          <label for="" style="color: #333; font-size: 14px"
                            >mật khẩu giao dịch</label
                          >
                          <v-text-field
                            class="input"
                            placeholder="Nhập mật khẩu giao dịch"
                            dense
                            v-bind="moneyProps"
                            v-model="money"
                            name="money"
                          ></v-text-field>
                        </div>
                      </div>
                      <div class="info__footer mx-5 pb-5">
                        <button class="info__btn">Gửi</button>
                      </div>
                    </v-card>
                  </template>
                </v-dialog>
              </div>
            </v-card>
          </div>
        </v-card>

        <div class="mt-2">
          <button class="button__submit">Nạp ngay</button>
        </div>
      </v-card>
      <v-card class="col-3 p-3">
        <div class="history">
          <p>Lịch sử nạp tiền</p>
          <p>Khác></p>
        </div>
      </v-card>
    </div>
  </UserLayout>
</template>

<style scoped>
.history {
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-weight: 400;
  color: #8491a5;
  background-color: #1e222c;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history p {
  color: #8491a5;
  margin-bottom: 0;
}

.button__submit {
  color: #fff !important;
  background: linear-gradient(135deg, #7146ff, #4a69ff) !important;
  border: none !important;
  font-size: 14px;
  width: 240px;
  height: 40px;
  border-radius: 4px;
  margin-top: 16px;
}

.button__price {
  margin: 10px 8px 0 0;
  padding: 0;
  width: 62px;
  height: 28px;
  line-height: 28px;
  background: transparent;
  color: #8491a5;
  border-radius: 6px;
  border: 1px solid #8491a5;
  font-size: 12px;
}

.input {
  width: 343px;
}

.text {
  font-size: 14px;
  color: rgb(132, 145, 165);
}

.banking__container:hover {
  cursor: pointer;
}

.left-nav {
  height: 100%;
  background-color: #f5f5f5;
}

.banking__img__container.active {
  position: relative;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(74, 105, 255);
  border-image: initial;
}

.banking__img__container.active::after {
  position: absolute;
  right: -1px;
  bottom: 0px;
  content: "";
  width: 32px;
  height: 24px;
  z-index: 2;
  background: url("../../../../assets/images/banking-active.png") 0% 0% / 100%
    no-repeat;
}

.banking__img__container {
  margin: 0px 16px 16px 0px;
  width: 112px;
  box-shadow: rgba(27, 35, 61, 0.15) 0px 0px 3px 0px;
  background: rgb(54, 61, 78);
  border-radius: 8px;
}

.banking__img__div {
  padding: 4px 4px 0px;
  border-radius: 8px;
}

.banking__img__div img {
  width: 96px;
  height: 28px;
}
.text__primary {
  color: #f7b500;
}
.banking__name {
  text-align: center;
  height: 28px;
  line-height: 28px;
  width: 100%;
  padding: 0px 2px;
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0px;
}

:deep(.v-field) {
  font-size: 12px !important;
  padding-block: 4px;
}

:deep(.v-field__input) {
  font-size: 12px !important;
  padding-block: 4px;
  height: 36px;
}

:deep(.v-label) {
  font-size: 12px !important;
}

.icon__reload {
  font-size: 14px;
  margin-left: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-text-field .v-input__control .v-input__slot {
  min-height: auto !important;
  display: flex !important;
  align-items: center !important;
}
.wallet-container {
  background-color: #1e222c;
}
.icon-wallet {
  font-size: 16px;
  margin-right: 5px;
}

.bg-main {
  background-color: #292e3b;
}
.bg-tonal {
  background-color: #363d4e;
}

.wallet__text {
  font-size: 16px;
}

.wallet__btn {
  background: linear-gradient(105deg, #ffe16b, #ffaf13);
  border-radius: 13px;
  border: none;
  color: #1e222c;
  font-size: 13px;
  padding: 0 15px;
  height: 25px;
}

p {
  margin-bottom: 0;
}

:deep(.v-card) {
  border-radius: 8px !important;
}

:deep(.v-card--variant-outlined) {
  border: 1px solid #363d4e !important;
}

.divider__left {
  border-left: 2px solid rgba(30, 34, 44, 0.2);
}
.divider-left-header {
  border-left: 2px solid #fff;
  padding-left: 12px;
}

.info__header__close {
  width: 32px !important;
  height: 32px !important;
  font-size: 24px !important;
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
}

.info__btn {
  border-color: #4a69ff !important;
  border-radius: 6px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0 auto 20px;
  padding: 0;
  width: 100% !important;
  color: #fff !important;
  background: linear-gradient(135deg, #7146ff, #4a69ff) !important;
  border: none !important;
}
</style>
