<!-- eslint-disable vue/multi-word-component-names -->
<script setup>
import { useRouter } from "vue-router";
const router = useRouter();
</script>
<template>
  <div class="py-8 text-center">
    <p class="py-8 text-[80px] font-bold">404</p>
    <p class="pb-4 text-3xl font-bold">Page Not Found</p>
    <hr class="border-black" />
    <div class="mt-4 flex flex-col gap-4">
      <div class="flex w-full justify-center">
        <button @click="router.push('/')">Go Home Todo</button>
      </div>
    </div>
  </div>
</template>
