<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="menu">Menu</div>
  <div class="container">
    <div class="row">
      <div class="left-nav col-2">Nav</div>
      <div class="col-10">
        <slot />
      </div>
    </div>
  </div>
</template>

<style scoped>
.menu {
  height: 140px;
}
</style>
