<script setup lang="js">

import {
  ref,
  toRefs,
  defineEmits,
  defineProps,
} from "vue";

const props = defineProps({
  isLoading: {
    type: Boolean,
  },
  user: {
    type: Object,
  },
});
const { user } = toRefs(props);

import { MENU } from "../common/constants/Menu";
const menu = ref(false);
const emit = defineEmits(["logout", "setting", "account"]);

const handelEventMenu = (type) => {
  emit(type);
  menu.value = false;
};
</script>
<template>
  <div>
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      location="bottom"
      open-on-hover
    >
      <template v-slot:activator="{ props }">
        <v-list
          style="background-color: transparent"
          class="list-menu"
          v-bind="props"
        >
          <v-list-item
            lines="two"
            :prepend-avatar="'https://cdn.vuetifyjs.com/images/john.jpg'"
            :title="user.username"
            :subtitle="user.vipLevel"
          >
            <template v-slot:append>
              <v-icon
                size="small"
                style="color: #6590d7; opacity: 1"
                icon="mdi-refresh"
              ></v-icon>
              <v-icon
                size="small"
                style="color: #3b597d; opacity: 1"
                icon="mdi-chevron-down"
              ></v-icon>
            </template>
          </v-list-item>
        </v-list>
      </template>

      <v-card>
        <v-list class="menu">
          <v-list-item
            v-for="itemMenu in MENU"
            :key="itemMenu.key"
            @click="handelEventMenu(itemMenu.key)"
            class="cursor-pointer hover:bg-slate-200"
          >
            <template v-slot:append>
              <v-icon :icon="itemMenu.icon"></v-icon>
            </template>
            <v-list-item-title>{{ itemMenu.label }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
  </div>
</template>

<style scoped>
:deep(.v-list).menu {
  background-color: #363d4e;
  color: #8491a5;
  font-size: 12px !important;
}
:deep(.v-list).menu .v-list-item__prepend {
  margin-right: 15px;
}

:deep(.v-list).menu .v-list-item__append {
  display: block !important;
  margin-left: 5px;
}

:deep(.v-list).menu .v-list-item__content {
  text-align: right !important;
}
:deep(.v-list).list-menu img {
  width: 40px;
  height: 40px;
}

:deep(.v-list).list-menu .v-list-item-title {
  color: #677684;
  display: block;
  height: 20px;
  line-height: normal;
  text-overflow: ellipsis;
}

:deep(.v-list).list-menu .v-list-item-subtitle {
  color: #fa0;
}

:deep(.v-list).list-menu .v-list-item__prepend {
  margin-right: -5px;
}

:deep(.v-list).list-menu .v-list-item {
  padding-top: 0px !important;
}
:deep(.v-list).list-menu .v-list-item__append {
  align-items: flex-end !important;
  height: 100%;
  margin-bottom: 15px;
}
</style>
