<script lang="js" setup>
import { storeToRefs } from "pinia";
import { useSnackbars } from "../common/stores/Snackbars";
import { ref, onMounted, watch } from "vue";

const snackbarStore = useSnackbars();
const snackbar = ref({ isOpen: false, text: "" });

const { snackbars } = storeToRefs(snackbarStore);

onMounted(() => {
  snackbars.value = { isOpen: false, text: "" };
});

watch(
  () => snackbars.value,
  (value) => {
    snackbar.value = value;
  }
);
</script>
<template>
  <div class="text-center">
    <v-snackbar
      :color="snackbar?.status"
      :timeout="2000"
      v-model="snackbar.isOpen"
      location="top center"
    >
      <div v-if="Array.isArray(snackbar?.text)">
        <ul
          v-for="(itemContent, index) in snackbar?.text"
          v-bind:key="itemContent"
        >
          <li style="list-style: none">{{ index + 1 + "." }} {{ itemContent }}</li>
        </ul>
      </div>
      <div v-else>{{ snackbar?.text }}</div>
      <template v-slot:actions>
        <v-btn
          icon="mdi-close"
          variant="text"
          @click="snackbarStore.closeSnackbar"
        >
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
