<template>
  <VSnackbars />
  <router-view></router-view>
</template>

<script setup lang="js">
import VSnackbars from "./components/VSnackbars.vue";
</script>

<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
body {
  margin: 0 auto !important;
  box-sizing: border-box;
}
</style>
